# Lesson 1: 
## Python basics

## 1.0 Introduction

In this lesson, we introduce the basic concepts in programming. 
Most computer programs execute tasks dealing with *strings* and *numbers*. A *string* is a sequence of characters. 
It is hard to believe that with these simple objects one can build complex programs. In this lesson, we will learn how to perform arithmetic operations and string manipulation.

 ## 1.1 Strings and Numbers

### 1.1.1 Print

In Python, *numbers* are just typed as they are:

In [1]:
print(23)

23

In [4]:
print(3.1416)

3.1416

In contrast, *strings*  which are a series of characters, must be enclosed in quotation marks `''` or double quotation marks `""`.

[//]: # "Consistency."

In [5]:
print('Here it is a sequence of characters...')

Here it is a sequence of characters...

In [1]:
print("Here is another...")

Here is another...

Python's `print` command can display either n number or a string on the screen.

Also, by default, Jupyter notebooks print the last line when possible.

In [2]:
"Hi"
"no print command needed?"

'no print command needed?'

In [3]:
10

10

### 1.1.2 Basic arithmetic

Python can be used to add `+`, substract `-`, multiply `*` and divide `/` numbers.

In [4]:
2+2

4

In [9]:
3-5

-2

In [11]:
2*5

10

In [2]:
3/2

1.5

To exponentiate a number, we use `**`.

In [14]:
2**3 #This returns 2 to the power of 3.

8

Parenthesis can be used to evaluate more complicated expressions. Python respects the usual *order of operations*.

In [15]:
3*(5+1/2)

16.5

**Quiz:** Discover  what is  the `%` operator.

**Quiz:** What happens when we divide or exponentiate by 0?

### 1.1.3 String operations

Some of the arithmetic symbols can also be used to perform string operations. Adding `+` means *concatenating*.

In [18]:
"sun"+"flower"

'sunflower'

Other operations produce errors:

In [19]:
"mutiply"*"words"

TypeError: can't multiply sequence by non-int of type 'str'

 Multiplying a string by an integer $n$ concatenates a string $n$ times.

In [4]:
"repetition is the key to mastery "*3

'repetition is the key to mastery repetition is the key to mastery repetition is the key to mastery '

**Quiz:** What's the length of `"hey, look!"`? How to obtain the length of a string? (Hint: used your preferred search engine to figure this out")

### 1.1.3 Variables

Variables have two parts: the *name* and the *value*. We assign a name to a value by using the equal sign.

In [1]:
pi=3.14159 #Here a variable with name pi and value 3.14159 is created.

In [2]:
sentence="Python is cool." # Here a variable with name sentence and value "Python is cool." is created.

We can use  declared variables to perform operations on their values:

In [27]:
pi**2

9.869587728099999

In [26]:
sentence+" I like it."

'Python is cool. I like it.'

#### A note on variable names

Variable names can contain only letters, numbers, and underscores. Do not start names with numbers. As spaces are not allowed  we use underscores to replace them:

In [29]:
new_number=23

Try to use short and descriptive names. For instance, if a variable is assigned to the radius of a circle, `radius` or `circle_radius` are prefered than `r` or than (the even worse) `x`.

### 1.1.4 Modifying variables

One of the most useful concepts in programming is that variables can change their values. For instance, we can reassign values:

In [5]:
my_int=3
print(my_int)
my_int=5
print(my_int)

3
5

We can even use the value of a variable to modify its value:

In [7]:
a = 2
a = a+2
print(a)

4

The expression `a=a+2` may look awkward, but remember, `=` is an assignment operator. It assigns the name (left-hand side) to the value (right hand side).

**Quiz:** Replace `--` in the following program so that it prints `10` at the end.

In [ ]:
a = 3
b = 2
a = b*a
b = a + b + --
print(b)

**Quiz:** Suppose that we have variables `a=5` and `b=10` and we would like to swap their values. What is wrong with the following program?
```python
# A failed Python program
a=5
b=10
a=b
b=a
```
How could you fix this issue?

### 1.1.5 Types

Objects in Python comes in different *types*. A *type* is a tag that Python assigns to each object to
tell which methods can be used in such an object.

For instance, in

In [3]:
"mutiply"*"words"

TypeError: can't multiply sequence by non-int of type 'str'

Python recognizes that two strings cannot be multiplied and hence it throws a `TypeError`.  Also the next statement throws an error, as `len()` cannot be used on numbers.

In [14]:
len(10)

TypeError: object of type 'int' has no len()

Strings such as `"Hello"` have the `str` type, which is an abbreviation for string. We can discover object's type with the  `type` command:

In [35]:
type("Hello")

str

If `type()` is applied to a variable, then it prints the type of the value it is storing:

In [36]:
godfather="I'm gonna make him an offer he can't refuse."
print(type(godfather))

<class 'str'>

### 1.1.6 Integers and floats

Python  distinguishes  two numerical types: *integers* and *floats*.

**Integers:** Abbreviated as `int`. Integers  can be either positive, negative or zero. Examples: `-5`, `0`, `1`, `23`.

**Floats:** Abbreviated as `float`. These are 64-bit approximation to real numbers. As a rule of thumb, floats are numbers with a decimal point `.`. Examples: `-1.`, `0.`, `1.1`, `2.5`, `3.14`.

In [38]:
type(5)

int

In [39]:
type(5.)

float

We (humans) see `5` and `5.` as the same entity, Python don't. The same occurs the string representing 5:

In [40]:
type("5")

str

#### Converting between types

We can convert between types using the `str()`, `int()` and `float()` functions. For instance, the next variable `five` has a string type:

In [21]:
five='5'
print(type(five))

<class 'str'>

Quiz: 

print(len(--(5))

so that it throws no errors.
.
.
.

### 1.1.7  input()

The `input()` function waits until the user types a string using the keyboard.

In [25]:
#My name program

print("My name is")
input()

My name is
John Smith

'John Smith'

The result of the input function can be saved in a separate variable:

In [23]:
name=input()
print("My name is", name)

John Smith
My name is John Smith

To improve the *Tell my name program*, we can make our program ask for the user's name as follows:

In [24]:
name=input('What is your name? ')
print("My name is", name)

What is your name? John Smith
My name is John Smith

**Quiz:** Make a program that asks for two numbers, computes their sum X,  and returns *The sum of your numbers is X*.

### 1.1.8 Basic string manipulation

The function `len()` computes the length of a string.

In [32]:
institute="Institute of Science and Technology Austria"
len(institute)

43

We can also look at individual characters by using the delimiter `[]`. Inside the delimiter we write the index of the character that we are looking for.

In [60]:
## The next code imports the image below
from IPython.display import Image 
Image(url='https://developers.google.com/edu/python/images/hello.png')

In [61]:
print('Hello'[0])
print('Hello'[1])
print('Hello'[2])

H
e
l

Note that Python string indexing starts from 0. Other programs start indexing from 1. Start numbering from 0 has certain advantages, however, it could cause great confusion.

**Quiz:** Which method prints the last character of `institute`:
- (a) `print(institute[len(institute]-1`
- (b) `print(institute[len(institute)]`
- (c) `print(institute[len(insitute)]+1`

One way to avoid confusion is to use -1 in the delimiter:

In [34]:
institute[-1]

'a'

The minus - notation can be used select characters in reverse order:

In [36]:
print(institute[-1])
print(institute[-2])
print(institute[-3])

a
i
r

**Slicing**

Slicing is a method for obtaining substrings of a string. For this we use the `[i:j]` notation, selecting characters from the one indexed from `i` to `j-1`.

In [38]:
institute[0:9]

'Institute'

or

In [41]:
institute[-7:-1]

'Austri'

Oops, that did not print out the last character. We solve this as follows:

In [42]:
institute[-7:]

'Austria'

Also leaving the first input of the `[:]` selector helps to select from the first index:

In [48]:
institute[:20]

'Institute of Science'

**Quiz:** Try to obtain the string "IST Austria" from `institute`.

## 1.2 A quick intro to lists and booleans

In this section we briefly introduce other types that are widely used.

### 1.2.1 Lists

A list is an ordered sequence containg Python objects (e.g. int, floats, strings, etc.). Here are a few examples:

In [17]:
areas_science= ['biology', 'neuroscience', 'physics', 'chemistry', 'mathematics', 'computer science']

first_primes=[2,3,5,7,11,13,17,19]

bass_song=[7, 'Nation', 'Army']

The methods that we use for accessing and slice through string characters also work for lists:

In [21]:
areas_science[1] #Access second element in areas_science

'neuroscience'

In [26]:
first_primes[0:5] #Slice from first to fifth element of first_primes

[2, 3, 5, 7, 11]

In [24]:
bass_song[-1] #Select last

'Army'

Similarly, we can obtain the lenght of a list using `len()`:

In [25]:
len(areas_science)

6

Also  `+`  can be used  to concatenate lists:

In [29]:
first_primes+bass_song

[2, 3, 5, 7, 11, 13, 17, 19, 7, 'Nation', 'Army']

#### List are mutable

The values of a list can be modified. For instance, the next line replaces 'mathematics' by 'math':

In [28]:
areas_science[4]='math'
print(areas_science)

['biology', 'neuroscience', 'physics', 'chemistry', 'math', 'computer science']

A list is called a *mutable* object because it can be changed after created. A *string* is an example of an *inmutable* object because we cannot change it once we create it.

In [30]:
greeting="Hello"
greeting[1]='a'

TypeError: 'str' object does not support item assignment

To overcome this issue, we can do the following:

In [34]:
greeting="Hello" #original greeting
print(greeting)
greeting=greeting[0]+'a'+'llo' #new greeting
print(greeting)

Hello
Hallo

### 1.2.2 Booleans

A *boolean* type has only two possible values: `True` and `False`. Booleans are associated with *boolean expressions* which are statements that can only be true or false:

In [37]:
3>2

True

In [36]:
4<1

False

Apart from `<` and `>`, other operators can be used in a boolean expression. For completeness we list the most used ones:

- `x == y` $\rightarrow$ is x equal to y?
- `x != y` $\rightarrow$ is x unequal to y?
- `x >  y `  $\rightarrow$ is x greater than y?
- `x <  y `  $\rightarrow$ is x less than y?
- `x <= y`   $\rightarrow$ is x less or equal to y?

In [38]:
2 == 1+1

True

In [40]:
'dog' != 'cat'

True

Booleans can be used in conjunction with the `and`, `or` and `not` logical operators to create more complex boolean expressions. For instance, to check whether 5 is greater than 2 but less than 10, we express it as follows:

In [41]:
5 > 2 and 5 < 10

True

In [43]:
5 == 2 or 5 == 3

False

In [44]:
not True

False